<style>
    #art{
        width:45%;
        display:inline-block;
        height: 550px;
    }
    #imgur{
        position:absolute;
        clip: rect(0px,520px,400px,0px);
        max-width:520px;
        max-height:400px;
    }
    #boxche{
        display: -webkit-flexbox;
        display: -ms-flexbox;
        display: -webkit-flex;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
    .cut{
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    }
    @supports (flex-wrap: wrap) {
        #boxche {
        display: flex;
    }
}
</style>

<div class="container body-content main" style="overflow:scroll;">
    <div class="row">
        <div class="col-sm-1">
            <form method="post" action="/allproblems/sorted" class="left form-check">
                <div class="tagsWell" style="position:relative;margin=0;">
                    <legend style="font-weight:bold" class="legend">Категории</legend>
                    <hr id="tagsLines">
                    <div id="tagList" class="content" tabindex="100">
                        <ul class="items">
                            {{#each tags}}
                            <li id="menu"><input type="checkbox" name="tag" value={{this.title}} class="form-check-input"> {{this.title}}</li>
                            {{/each}}
                        </ul>
                    </div>
                    <div>
                        <span style="font-weight:bold" class="legend">Подреди по</span>
                    </div>
                    <div>
                        <ul>
                            <li id="menu"><input name="sortBy" type='radio' value="distance"> Близост</li>
                            <li id="menu"><input name="sortBy" type='radio' value="liked"> Най-харесвани</li>
                            <li id="menu"><input name="sortBy" type='radio' value="new"> Най-нови</li>
                            <li id="menu"><input name="sortBy" type='radio' value="old"> Най-стари</li>
                        </ul>
                    </div>
                    <hr id="tagsLines">
                    <div style="text-align:center">
                        <button type="submit" class="btn btn-primary">Филтрирай</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
            {{#each problems}}
                <article id="art" style="margin-top:10px;margin-right:10px;">
                    <header style="padding-bottom:0px;padding-top:5px;">
                        <h2 style="margin-bottom:0;margin-top:0px;"><a href="/details/{{this.id}}" style="text-decoration:none;font-size:1.1em;"><b class="cut">{{this.title}}</b></a></h2>
                        <p style="margin-bottom:0;">Публикувано на: {{this.formattedDate}}<br>
                            Категория: <b>{{this.tag}}</b>     Точки: <span id="points"><b>{{this.points}}</b></span></p>
                    </header>
                    <hr class="halfFaded">

                    <p id="desc">Описание:<br>
                    {{this.description}}</p>

                    <img src="{{this.picture}}" id="imgur">
                </article>
            {{/each}}
        </div>
    </div>
