<style>
    #imgur{
        max-width: 50%;
    }
    a{
        color:black;
        padding-bottom:15px;
    }
    #art{
        background-color:#FFF;
        padding-left:15px;
        padding-right:15px;
        padding-bottom:15px;
        box-shadow: 0 0 10px darkgrey;
        margin-bottom: 10px;
    }
    #desc{
        font-family: "Times New Roman", Times, serif;
        font-size:1.4em;
    }
</style>
<div class="container body-content">
    <div class="row">
        <div class="col-md-12">

            {{#each problems}}
            <article id="art">
                <table width="100%">
                    <tr>
                        <td>
                            <header style="padding-bottom:20px;">
                                <h2><a href="/details/{{this.id}}" style="text-decoration:none">{{this.title}}</a></h2>
                                <p>Posted on: {{this.formattedDate}}</p>
                            </header>
                        </td>
                        <td align="right">
                            Points: <span id="points">{{this.points}}</span>

                        </td>
                    </tr>
                </table>

                <p id="desc">Description:<br>
                {{this.description}}</p>

                <img src="{{this.picture}}" id="imgur">
            </article>
            {{/each}}
        </div>
    </div>
</div>