<style>
    #imgur{
        max-width: 50%;
    }
    a{
        color:black;
    }
    #art{
        background-color:#FFF;
        padding:20px;
        box-shadow: 0 0 10px darkgrey;
        margin-bottom: 10px;
    }
</style>
<div class="container body-content">
    <div class="row">
        <div class="col-md-12">

            {{#each problems}}
            <article id="art">
                <table width="100%">
                    <tr>
                        <td>
                            <header>
                                <h2><a href="/details/{{this.id}}" style="text-decoration:none">{{this.title}}</a></h2>
                            </header>
                        </td>
                        <td align="right">
                            Points: <span id="points">{{this.points}}</span>

                        </td>
                    </tr>
                </table>


                <p>{{this.description}}</p>

                <img src="{{this.picture}}" id="imgur">
            </article>
            {{/each}}
        </div>
    </div>
</div>