<div class="container body-content main" style="overflow:scroll;">
    <div class="row">
        <div class="col-sm-1">
            <form method="post" action="/allproblems/sorted" class="left">
            <div class="tagsWell" style="position:relative;margin=0;">
                <legend style="font-weight:bold" class="legend">Категории</legend>
                    <div id="tagList" class="content hideContent" tabindex="100">
                        <ul class="items">
                            {{#each tags}}
                                <li id="menu"><input type="checkbox" name="tag" value={{this.title}}> {{this.title}}</li>
                            {{/each}}
                        </ul>
                    </div>
                    <div class="show-more">
                        <a style="text-decoration:none;">Покажи още</a>
                    </div>
                    <hr id="tagsLines">
                    <script src="http://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
                    <script type="text/javascript" src="/javascripts/showlessmore.js"></script>
                    <div>
                        <span style="font-weight:bold" class="legend">Подреди по</span>
                    </div>
                    <div>
                        <ul id="menu">
                            <li><input name="sortBy" type='radio' value="distance"> Близост</li>
                            <li><input name="sortBy" type='radio' value="liked"> Най-харесвани</li>
                            <li><input name="sortBy" type='radio' value="new"> Най-нови</li>
                            <li><input name="sortBy" type='radio' value="old"> Най-стари</li>
                        </ul>
                    </div>
                    <hr id="tagsLines">
                    <div>
                        <button  type="submit">Филтрирай</button>
                    </div>
                    <hr id="tagsLines">             
                </div>
            </form>
        </div>
        <div class="col-sm-11">
            {{#each problems}}
            <article id="art" style="margin-top:10px;">
                <header style="padding-bottom:0px;padding-top:5px;">
                    <h2 style="margin-bottom:0;"><a href="/details/{{this.id}}" style="text-decoration:none;font-size:1.1em;"><b>{{this.title}}</b></a></h2>
                    <p style="margin-bottom:0;">Публикувано на: {{this.formattedDate}}<br>
                        Категория: <b>{{this.tag}}</b>     Точки: <span id="points"><b>{{this.points}}</b></span></p>
                </header>
                <hr class="halfFaded">

                <p id="desc">Описание:<br>
                {{this.description}}</p>

                <img src="{{this.picture}}" id="imgur">
            </article>
            {{/each}}
        </div>
</div>
