<div class="container body-content main" style="overflow:scroll;">
    <div class="row">
        <div class="col-sm-1">
            <form method="post" action="/allproblems/sorted" class="left form-check" style="overflow:auto">
                <div class="tagsWell" style="position:relative;margin=0;">
                    <legend style="font-weight:bold" class="legend">Категории</legend>
                    <hr id="tagsLines">
                    <div id="tagList" class="content" tabindex="100">
                        <ul class="items">
                            {{#each tags}}
                            <li id="menu"><input type="checkbox" name="tag" value={{this.title}} class="form-check-input"> {{this.title}}</li>
                            {{/each}}
                        </ul>
                    </div>
                    <hr id="tagsLines">
                    <div style="text-align:center">
                        <button type="submit" class="btn btn-primary">Филтрирай</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-sm-11">
            {{#each problems}}
            <article id="art" style="margin-top:10px;">
                <header style="padding-bottom:0px;padding-top:5px;">
                    <h2 style="margin-bottom:0;"><a href="/details/{{this.id}}" style="text-decoration:none;font-size:1.1em;"><b>{{this.title}}</b></a></h2>
                    <p style="margin-bottom:0;">Публикувано на: {{this.formattedDate}}<br> Категория: <b>{{this.tag}}</b> Точки: <span id="points"><b>{{this.points}}</b></span></p>
                </header>
                <hr class="halfFaded">

                <p id="desc">Описание:<br> {{this.description}}
                </p>

                <img src="{{this.picture}}" id="imgur">
            </article>
            {{/each}}
        </div>
    </div>