<style>
    #imgur{
        max-width: 50%;
    }
    a{
        color:black;
        padding-bottom:15px;
    }
    #art{
        background-color:#FFF;
        padding-left:15px;
        padding-right:15px;
        padding-bottom:15px;
        box-shadow: 0 0 10px darkgrey;
        margin-bottom: 10px;
        width:80%;
    }
    #desc{
        font-family: "Times New Roman", Times, serif;
        font-size:1.4em;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
    }
    hr{ 
        border: 0; 
        height: 1px; 
        margin-top:0;
        background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
        background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
        background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
        background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0); 
    }
    .left {
        position:fixed;
        left: 0; top: 60px; bottom: 0;
        min-width: 200px;
        max-width: 18%;
    }
    .main {
        position: absolute;
        left:178px; top:92px; right:0; bottom:0;
    }
    li{
        list-style-type: none;
    }
    .legend{
        -webkit-padding-start: 10px;

    }
</style>
<form method="post" action="/allproblems/sorted" class="left">
    <div class="tagsWell" style="position:relative">
        <legend style="font-weight:bold" class="legend">Тагове</legend>
            <div id="tagList" class="content hideContent" tabindex="100">
                <ul class="items">
                    {{#each tags}}
                        <li id="menu"><input type="checkbox" name="tag" value={{this.title}}> {{this.title}}</li>
                    {{/each}}
                </ul>
            </div>
            <div class="show-more">
                <a>Show more tags</a>
            </div>
            <script src="http://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
            <script type="text/javascript" src="/javascripts/showlessmore.js"></script>
            <div>
                <span style="font-weight:bold" class="legend">Подреди по</span>
            </div>
            <div>
                <ul class="items" id="menu">
                    <li><input name="sortBy" type='radio' value="distance"> Близост</li>
                    <li><input name="sortBy" type='radio' value="liked"> Най-харесвани</li>
                    <li><input name="sortBy" type='radio' value="new"> Най-нови</li>
                    <li><input name="sortBy" type='radio' value="old"> Най-стари</li>
                </ul>
            </div>
            <div>
                <button  type="submit" style="position:absolute; left: 40%;">Филтрирай</button>
            </div>
            
    </div>
</div>
</form>
<div class="container body-content main">
    <div class="row">
        <div class="col-md-12">

            {{#each problems}}
            <article id="art">
                <table width="100%" >
                    <tr>
                        <td>
                            <header style="padding-bottom:0px;">
                                <h2><a href="/details/{{this.id}}" style="text-decoration:none;font-size:1.1em;"><b>{{this.title}}</b></a></h2>
                                <p>Posted on: {{this.formattedDate}}<br>
                                   Tag: <b>{{this.tag}}</b>     Points: <span id="points"><b>{{this.points}}</b></span></p>
                            </header>
                            <hr>
                        </td>
                    </tr>
                </table>

                <p id="desc">Description:<br>
                {{this.description}}</p>

                <img src="{{this.picture}}" id="imgur">
            </article>
            {{/each}}
        </div>
    </div>
</div>
