<div class="container body-content">
    <div class="row">
        <div class="col-md-12">

            {{#each filtered}}
            <article id="artSorted">
                <table width="100%">
                    <tr>
                        <td>
                            <header>
                                <h2><a href="/details/{{this.id}}" style="text-decoration:none">{{this.title}}</a></h2>
                            </header>
                        </td>
                        <td align="right">
                            Points: <span id="points">{{this.points}}</span>

                        </td>
                    </tr>
                </table>


                <p>{{this.description}}</p>

                <img src="{{this.picture}}" id="imgur">
            </article>
            {{/each}}
        </div>
    </div>
</div>
<form method="post" action="allproblems/sorted">
    <div class="tagsWell">
        <legend style="font-weight:bold">Тагове</legend>
            <div id="tagList" class="content hideContent" tabindex="100">
                <ul class="items">
                    {{#each tags}}
                        <li><input type="checkbox" name="tag" value={{this.title}}> {{this.title}}</li>
                    {{/each}}
                </ul>
            </div>
            <div class="show-more">
                <a>Show more tags</a>
            </div>
            <script src="http://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
            <script type="text/javascript" src="/javascripts/showlessmore.js"></script>
            <div>
                <span style="font-weight:bold">Подреди по</span>
            </div>
            <div>
                <ul>
                    <li><input name="sortBy" type='radio' value="distance"> Близост</li>
                    <li><input name="sortBy" type='radio' value="liked"> Най-харесвани</li>
                    <li><input name="sortBy" type='radio' value="new"> Най-нови</li>
                    <li><input name="sortBy" type='radio' value="old"> Най-стари</li>
                </ul>
            </div>
            <div>
                <button  type="submit" style="position:absolute; left: 40%;">Филтрирай</button>
            </div>
            
    </div>
</div>
</form>