<style type="text/css">
    #map {
       width: 100%;
       height: 450px;
        display: block;
        margin: auto;
        margin-bottom: 15px;
    }
    .hidden {
        display: none
    }

    #commentBox {
        /*border-radius: 25px;
        border: 2px solid #6495ED;
        padding: 20px;
        word-wrap: break-word;*/
        border-radius: 5px;
        background-color: #FFF;
        padding: 15px;
        box-shadow: 0 0 10px darkgrey;
        margin-bottom: 10px;
    }
    img {
        border: 1px outset grey;
        border-radius: 2px;
    }

    .profPic {
        height: 90px;
        width: 90px;
    }

    #comment,
    #descBox {
        font-size: 1.2em;
        border: 8px outset #6495ED;
        margin-bottom: 20px;
        background-color: #FFF;
        padding: 20px;
        box-shadow: 0 0 10px darkgrey;
        margin-bottom: 10px;
        border-radius: 5px;
    }

    #comment {
        padding: 10px;
    }

    #voting {
        font-size: 1.2em;
    }

    #descCore {
        font-family: "Times New Roman", Times, serif;
        font-size: 1.4em;
    }

    .active {
        background-color: green;
        color: red;
    }

    hr.coolLine {
        padding: 0;
        border: none;
        border-top: medium double #0000CD;
        color: #0000CD;
        text-align: center;
    }

    hr.coolLine:after {
        content: "§";
        display: inline-block;
        position: relative;
        top: -0.7em;
        font-size: 1.5em;
        padding: 0 0.25em;
        background: #ECF0F1;
    }

    hr.fadingLine {
        border: 0;
        height: 1px;
        margin-top: 0;
        background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
        background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
        background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
        background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    }

    hr.halfFaded {
        border: 0;
        height: 1px;
        margin-top: 0;
        margin-bottom: 5px;
        background-image: -webkit-linear-gradient(left, #8c8b8b, white, white);
        background-image: -moz-linear-gradient(left, #8c8b8b, white, white);
        background-image: -ms-linear-gradient(left, #8c8b8b, white, white);
        background-image: -o-linear-gradient(left, #8c8b8b, white, white);
    }


    #desc {
        font-family: "Times New Roman", Times, serif;
        font-size: 1.4em;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
    }
</style>

<div class="container body-content">
    <div class="row">
        <div class="col-md-12">
            <article>
                <header>
                    <h2 class="text-center" style="font-size:3.4em;margin-bottom:0;">{{problem.title}}</h2>
                    <hr class="fadingLine">
                </header>


                <div id="descBox">
                    <hr class="halfFaded">
                    <div class="row" style="padding-bottom:0px">
                        <div class="col-sm-1">
                            <img src="{{author.profpicture}}" class="profPic" alt="profile pic">
                        </div>
                        <p class="col-sm-3" style="font-size:1em;padding:0;"><b style="font-size:1.5em">{{author.fullName}}</b><br> {{problem.formattedDate}}
                            <br> Категория: <b>{{problem.tag}}</b></p>
                    </div>
                    <hr class="halfFaded">
                    <p id="descCore"><i>Описание:</i><br> {{problem.description}}
                    </p>
                    <div class="row">
                        <div class="col-sm-7"><img src="{{problem.picture}}" id="imgur"></div>
                        <div class="col-sm-4">
                            <div id="map"></div>
                        </div>
                    </div>
                </div>
                <div style="margin-bottom:20px;">
                    <b class="voting"> 
                        <span>         
                            <span class="votebuttons">
                    <span>Гласувай:</span>
                    <button class="upvote" voteid="{{problem.id}}">▲</button>
                    <button class="downvote" voteid="{{problem.id}}">▼</button>
                    </span>
                        Точки:
                        <span class="points">{{problem.points}}</span>
                    </span>
                    <button style="float:right;"><a href="/problem/solution/{{problem.id}}">Предложи решение!</a></button>
                    </b>
                </div>
            </article>
        </div>

    </div>
    {{#if user}}
    <div style="margin-bottom:40px;">
        <form method='post'>
            <p style="font-size:1.7em;">Коментирай:</p>
            <textarea class="col-l-12" name='comment' id='comment' placeholder="Пиши тук..."></textarea><br />

            <input type='submit' value='Изпрати' />
        </form>
    </div>
    {{/if}}
    <hr class="coolLine">
    <p>{{problem.comments.length}} коментара</p>
    {{#each problem.comments}}
    <div class="row" style="margin-top:5px;">
        <span class="col-sm-1"><img src="{{this.author.profpicture}}" height="80" width="90"></span>
        <span class="col-sm-10">
            <blockquote id="commentBox">
                <div class="row" style="margin-bottom:5px;">
                    <b class="col-sm-3">{{this.author.fullName}}</b>
                    <p class="col-sm-8" style="text-align:right;font-size:0.7em;">{{this.formattedDate}}</p>
                </div>
                {{this.text}}
            </blockquote>
        </span>
    </div>
    {{/each}}
    <p style="font-size:1.2em;">{{problem.solutions.length}} предложени решения</p>
    <hr class="coolLine"> {{#each solutions}}

    <div class="row">
        <article id="art">
            <table width="100%">
                <tr>
                    <td>
                        <header style="padding-bottom:0px;">
                            <h2 style="margin-bottom:5px;font-size:2.4em;"><b>{{this.title}}</b></h2>
                            <hr class="halfFaded">
                            <div class="row" style="margin-top:10px;margin-bottom:0px;">
                                <div class="col-sm-1"><img src="{{this.author.profpicture}}" class="profPic" /></div>
                                <div class="col-sm11">
                                    <p style="font-size:1.3em;">Публикувано на: {{this.formattedDate}}<br> Предложено от: <b>{{this.author.fullName}}</b><br>
                                </div>
                                <div>
                        </header>
                        <hr class="halfFaded" style="margin-top:0px;margin-bottom:10px;">
                    </td>
                    <td>
                        <span class="votebuttons">
                            <span>Гласувай:</span>
                        <button class="upvote" voteid="{{this.id}}">▲</button>
                        <button class="downvote" voteid="{{this.id}}">▼</button> Точки:
                        <span class="points">{{this.points}}</span>
                        </span>
                    </td>
                </tr>
            </table>
            <p id="desc">Описание:<br> {{this.description}}
            </p>
            <img src="{{this.picture}}" id="imgur">
        </article>
        {{#if isAuthicated}}
            <p>Okey</p>
        {{/if}}
        </div>
        {{/each}}

        </div>
        <script src="/javascripts/voting.js"></script>
        {{#unless user}}
        <script>
            $(".votebuttons").css("display", "none");
        </script>
        {{/unless}}

        <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCQzD3x6YorMnUkwkxzN4k5Pe0NDEFoce8"></script>
        <script>
            userLocation = {
                lat: parseFloat("{{problem.lat}}"),
                lng: parseFloat("{{problem.lng}}")
            };
            draggable = false;
        </script>
        <script type="text/javascript" src="/javascripts/map.js"></script>
        <script>
            map.setCenter(userLocation);
            map.setZoom(15);
        </script>