<script>
    id = "{{id }}";

</script>

<div class="container body-content">
    <div class="row">
        <div class="col-md-6">
            <article>
                <table width="100%">
                    <tr>
                        <td>
                            <header>
                                <h2>{{title}}</h2>
                            </header>
                        </td>
                        <td align="right">
                            <button id="upvote">^GORe^</button>
                            <button id="downvote">vDolU!v</button>
                        </td>
                    </tr>
                </table>


                <p>{{description}}</p>

                <img src="/{{picture}}">
            </article>
        </div>
    </div>
    {{#if user}}
    <div>
        <form method='post'>
            Comment:<br />
            <textarea name='comment' id='comment'></textarea><br />

            <input type='submit' value='Submit' />
        </form>
    </div>
    {{/if}} {{#each comments}}
    <p>{{this.text}}</p>
    {{/each}}
</div>
<script src="/javascripts/voting.js">

</script>