<style>
    #commentBox{
        border-radius: 25px;
        border: 2px solid #73AD21;
        padding: 20px;
        word-wrap: break-word;
    }

</style>

<div class="container body-content">
    <div class="row">
        <div class="col-md-6">
            <article>
                <header>
                    <h2>{{title}}</h2>
                </header>

                <p>{{description}}</p>

                <small class="author">
                        {{author.fullName}}
                    </small>

                <img src="/{{picture}}">
            </article>
        </div>
        
    </div>
    {{#if user}}
    <div style="margin-bottom:50px;">
        <form method='post'>
            Comment:<br />
            <textarea name='comment' id='comment'></textarea><br />

            <input type='submit' value='Submit' />
        </form>
    </div>
    {{/if}}
    {{#each comments}}
        <div class="row" style="margin-top:5px;">
            <img class="col-sm-1" alt="profile pic" height="70" width="80">
            <div class="col-sm-11">
                <blockquote class="col-sm-11" id="commentBox"> 
                    <b>{{author.fullName}}asd</b><p></p>
                    {{this.text}}
                </blockquote>
            </div>
        </div>
    {{/each}}
</div>