<script>
    id = "{{problem.id}}";
</script>
<style type="text/css">    
    textarea {
        max-width:100%;
        width: 500px;
    }          
    #map {
        width: 100%;
        height: 450px;
        display: block;
        margin: auto;
        margin-bottom: 15px;
    }
    .hidden {
        display: none
    }
    #commentBox {
        /*border-radius: 25px;
        border: 2px solid #6495ED;
        padding: 20px;
        word-wrap: break-word;*/
        border-radius: 5px;
        background-color: #FFF;
        padding:15px;
        box-shadow: 0 0 10px darkgrey;
        margin-bottom: 10px;
    }
    #imgur{
        width:auto;
        height:100%;
        max-height:500px;
    }
    img{
        border: 1px outset grey;
        border-radius: 2px;
    }
    #comment,
    #descBox {
        font-size: 1.2em;
        border: 8px outset #6495ED;
        margin-bottom: 20px;
        background-color: #FFF;
        padding: 20px;
        box-shadow: 0 0 10px darkgrey;
        margin-bottom: 10px;
        border-radius: 5px;
    }
    #comment{
        padding:10px;
    }
    #voting{
        font-size:1.2em;
    }
    #descCore{
        font-family: "Times New Roman", Times, serif;
        font-size:1.4em;
    }
    .active {
        background-color: green;
        color: red;
    }
    hr.coolLine {
        padding: 0;
        border: none;
        border-top: medium double #0000CD;
        color: #0000CD;
        text-align: center;
    }
    hr.coolLine:after {
        content: "§";
        display: inline-block;
        position: relative;
        top: -0.7em;
        font-size: 1.5em;
        padding: 0 0.25em;
        background: #ECF0F1;
    }
    hr.fadingLine{ 
        border: 0; 
        height: 1px; 
        margin-top:0;
        background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
        background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
        background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
        background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0); 
    }
    a, a:hover{
        color:black;
        text-decoration:none;
    }
    a{
        color:black;
        padding-bottom:15px;
    }
    #art{
        background-color:#FFF;
        padding-left:30px;
        padding-right:30px;
        padding-bottom:30px;
        box-shadow: 0 0 10px darkgrey;
        margin-bottom: 10px;
        width:80%;
    }
    #desc{
        font-family: "Times New Roman", Times, serif;
        font-size:1.4em;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
    }
    .gradientLine{
        border: 0;
        height: 1px;
        margin-top:0;
        background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
        background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
        background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
        background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    }
    #tagsLines{
        border: 0;
        height: 1px;
        margin-top:0;
        background-color:#1c2538;
    }
    .left {
        position:fixed;
        left: 0; top: 60px; bottom: 0;
        min-width: 230px;
        max-width: 25%;
    }
    .tagsWell{
        min-height: 50px;
        padding: 0px;
        margin-bottom: 5px;
        background-color: #bce1ff;
        border: 1px solid transparent;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
        min-width: 230px;
        max-width: 25%;
    }

    .main {
        position: fixed;
        left:232px; top:60px; right:0; bottom:0;
        min-width: 500px;

    }
    li{
        list-style-type: none;
    }
    .legend{
        -webkit-padding-start: 10px;

    }

</style>

<div class="container body-content">
    <div class="row">
        <div class="col-md-12">
            <article>
                <table width="100%">
                    <tr>
                        <td>
                            <header>
                                <h2 class="text-center" style="font-size:3.4em;margin-bottom:0;">{{problem.title}}</h2>
                                <hr class="fadingLine">
                            </header>
                        </td>
                        <td align="right">
                        </td>
                    </tr>
                </table>

                <div id="descBox">
                    <div class="row" style="padding-bottom:20px">
                        <img src="{{author.profpicture}}" class="col-sm-1" alt="profile pic" height="90" width="90">
                        <p class="col-sm-3" style="font-size:0.8em"><b style="font-size:1.8em">{{author.fullName}}</b><br>
                                                                                                {{problem.formattedDate}}<br>
                                                                                                Категория: <b>{{problem.tag}}</b></p>
                    </div>
                    <p id="descCore"><i>Описание:</i><br>
                    {{problem.description}}</p>
                    <div class="row">
                        <div class="col-sm-7"><img src="{{problem.picture}}" id="imgur"></div>
                        <div class="col-sm-4"><div id="map"></div></div>
                    </div>
                </div>
                <div style="margin-bottom:20px;">
                    {{#if user}}
                    <b id="voting">Гласувай:
                    <button id="upvote">▲</button>
                    <button id="downvote">▼</button> {{/if}}
                    <span id="points">Точки:{{problem.points}}</span>
                    <button style="float:right;"><a href="/problem/solution/{{problem.id}}">Предложи решение!</a></button>
                    </b>
                </div>
            </article>
        </div>

    </div>
    {{#if user}}
    <div style="margin-bottom:40px;">
        <form method='post'>
            <p style="font-size:1.7em;">Коментирай:</p>
            <textarea class="col-l-12" name='comment' id='comment' placeholder="Пиши тук..."></textarea><br />

            <input type='submit' value='Изпрати'/>
        </form>
    </div>
    {{/if}}
    <hr class="coolLine">
    <p>{{problem.comments.length}} коментара</p>
    {{#each problem.comments}}
    <div class="row" style="margin-top:5px;">
        <span class="col-sm-1"><img src="{{this.author.profpicture}}" height="80" width="90"></span>
        <span class="col-sm-10">
            <blockquote id="commentBox">
                <div class="row" style="margin-bottom:5px;">
                    <b class="col-sm-3">{{this.author.fullName}}</b>
                    <p class="col-sm-8" style="text-align:right;font-size:0.7em;">{{this.formattedDate}}</p>
                </div>
                {{this.text}}
            </blockquote>
        </span>
    </div>
    {{/each}}
    {{#each solutions}}
        <div class="row">
            <article id="art">
                <table width="100%" >
                    <tr>
                        <td>
                            <header style="padding-bottom:0px;">
                                <h2><b>{{this.title}}</b></h2>
                                <p>Публикувано на: {{this.formattedDate}}<br>
                                Точки: <span id="points"><b>{{this.points}}</b></span></p>
                            </header>
                            <hr>
                        </td>
                    </tr>
                </table>
                <p id="desc">Описание:<br>
                    {{this.description}}</p>

                <img src="{{this.picture}}" id="imgur">
            </article>
        </div>
    {{/each}}

</div>
<script src="/javascripts/voting.js">
</script>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCQzD3x6YorMnUkwkxzN4k5Pe0NDEFoce8"></script>
<script>
    userLocation = {
        lat: {{problem.lat}}, 
        lng: {{problem.lng}}
    };
    draggable = false;
</script>
<script type="text/javascript" src="/javascripts/map.js"></script>
<script>
    map.setCenter(userLocation);
    map.setZoom(15);
</script>