<script>
    id = "{{id}}";

</script>
<style>
    #commentBox {
        /*border-radius: 25px;
        border: 2px solid #6495ED;
        padding: 20px;
        word-wrap: break-word;*/
        border-radius: 5px;
        background-color: #FFF;
        padding: 20px;
        box-shadow: 0 0 10px darkgrey;
        margin-bottom: 10px;
    }

    #imgur {
        max-width: 50%;
    }

    #comment,
    #descBox {
        width: 92%;
        font-size: 1.2em;
        border: 8px outset #6495ED;
        margin-bottom: 20px;
        background-color: #FFF;
        padding: 20px;
        box-shadow: 0 0 10px darkgrey;
        margin-bottom: 10px;
        border-radius: 5px;
    }

    .active {
        background-color: green;
        color: red;
    }

    hr {
        padding: 0;
        border: none;
        border-top: medium double #0000CD;
        color: #0000CD;
        text-align: center;
    }

    hr:after {
        content: "§";
        display: inline-block;
        position: relative;
        top: -0.7em;
        font-size: 1.5em;
        padding: 0 0.25em;
        background: #F8F8F8;
    }
</style>

<div class="container body-content">
    <div class="row">
        <div class="col-md-12">
            <article>
                <table width="100%">
                    <tr>
                        <td>
                            <header>
                                <h2 class="text-center" style="font-size:3.4em">{{title}}</h2>
                            </header>
                        </td>
                        <td align="right">
                        </td>
                    </tr>
                </table>

                <div id="descBox">
                    <div class="row">
                        <img class="col-sm-1" alt="profile pic" height="70" width="80">
                        <p class="col-sm-3" style="font-size:0.8em"><b style="font-size:1.8em">{{author.fullName}}</b><br>{{problem.date}}</p>
                    </div>
                    <i>Description:</i>
                    <p>{{problem.description}}</p>

                    <img src="/{{problem.picture}}" id="imgur">
                </div>
                <div style="margin-bottom:20px;">
                    {{#if user}}
                    <button id="upvote">▲</button>
                    <button id="downvote">▼</button> {{/if}}
                    <span id="points">{{problem.points}}</span>
                </div>
            </article>
        </div>

    </div>
    {{#if user}}
    <div style="margin-bottom:50px;">
        <form method='post'>
            <p style="font-size:2em;">Comment:</p>
            <textarea class="col-l-12" name='comment' id='comment'></textarea><br />

            <input type='submit' value='Submit' />
        </form>
    </div>
    <hr>
    <p>{{comments.lenght}} comments</p>
    {{/if}} 
    {{#each problem.comments}}
    <div class="row" style="margin-top:5px;">
        <img class="col-sm-1" alt="profile pic" height="70" width="80">
        <div class="col-sm-11">
            <blockquote class="col-sm-11" id="commentBox">
                <div class="row" style="margin-bottom:5px;">
                    <div class="col-sm-3">
                        <b>{{author.name}}name</b>
                    </div>
                    <div class="col-sm-9">
                        <p style="text-align:right;">{{comment.date}}data</p>
                    </div>
                </div>
                {{this.text}}
            </blockquote>
        </div>
    </div>
    {{/each}}
</div>
<script src="/javascripts/voting.js">

</script>