<script>
    id = "{{problem.id}}";
    
</script>
<style type="text/css">
    #map {
       width: 100%;
       height: 450px;
        display: block;
        margin: auto;
        margin-bottom: 15px;
    }
</style>

<div class="container body-content">
    <div class="row">
        <div class="col-md-12">
            <article>
                <header>
                    <h2 class="text-center" style="font-size:3.4em;margin-bottom:0;">{{problem.title}}</h2>
                    <hr class="fadingLine">
                </header>


                <div id="descBox">
                    <hr class="halfFaded">
                    <div class="row" style="padding-bottom:0px">
                        <div class="col-sm-1">
                            <img src="{{author.profpicture}}" class="profPic" alt="profile pic">
                        </div>
                        <p class="col-sm-3" style="font-size:1em;padding:0;"><b style="font-size:1.5em">{{author.fullName}}</b><br> {{problem.formattedDate}}
                            <br> Категория: <b>{{problem.tag}}</b></p>
                    </div>
                    <hr class="halfFaded">
                    <p id="descCore"><i>Описание:</i><br> {{problem.description}}
                    </p>
                    <div class="row">
                        <div class="col-sm-7"><img src="{{problem.picture}}" id="imgur2"></div>
                        <div class="col-sm-4">
                            <div id="map"></div>
                        </div>
                    </div>
                </div>
                <div style="margin-bottom:20px;">
                    {{#if user}}
                    <b id="voting">Гласувай:
                    <button id="upvote">▲</button>
                    <button id="downvote">▼</button> {{/if}}
                    <span id="points">Точки:{{problem.points}}</span>
                    <button style="float:right;"><a href="/problem/solution/{{problem.id}}">Предложи решение!</a></button>
                    </b>
                </div>
            </article>
        </div>

    </div>
    {{#if user}}
    <div style="margin-bottom:40px;">
        <form method='post'>
            <p style="font-size:1.7em;">Коментирай:</p>
            <textarea class="col-l-12" name='comment' id='comment' placeholder="Пиши тук..."></textarea><br />

            <input type='submit' value='Изпрати' />
        </form>
    </div>
    {{/if}}
    <hr class="coolLine">
    <p>{{problem.comments.length}} коментара</p>
    {{#each problem.comments}}
    <div class="row" style="margin-top:5px;">
        <span class="col-sm-1"><img src="{{this.author.profpicture}}" height="80" width="90"></span>
        <span class="col-sm-10">
            <blockquote id="commentBox">
                <div class="row" style="margin-bottom:5px;">
                    <b class="col-sm-3">{{this.author.fullName}}</b>
                    <p class="col-sm-8" style="text-align:right;font-size:0.7em;">{{this.formattedDate}}</p>
                </div>
                {{this.text}}
            </blockquote>
        </span>
    </div>
    {{/each}}
    <hr class="coolLine"> {{#each solutions}}
    <div class="row">
        <article id="art">
            <table width="100%">
                <tr>
                    <td>
                        <header style="padding-bottom:0px;">
                            <h2 style="margin-bottom:5px;font-size:2.4em;"><b>{{this.title}}</b></h2>
                            <hr class="halfFaded">
                            <div class="row" style="margin-top:10px;margin-bottom:0px;">
                                <div class="col-sm-1"><img src="{{this.author.profpicture}}" class="profPic" /></div>
                                <div class="col-sm11">
                                    <p style="font-size:1.3em;">Публикувано на: {{this.formattedDate}}<br> Предложено от: <b>{{this.author.fullName}}</b><br>                                        Точки: <span id="points"><b>{{this.points}}</b></span></p>
                                </div>
                                <div>
                        </header>
                        <hr class="halfFaded" style="margin-top:0px;margin-bottom:10px;">
                    </td>
                </tr>
            </table>
            <p id="desc">Описание:<br> {{this.description}}
            </p>

            <img src="{{this.picture}}" id="imgur2">
        </article>
    </div>
        {{/each}}

</div>
        <script src="/javascripts/voting.js">

        </script>
        <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCQzD3x6YorMnUkwkxzN4k5Pe0NDEFoce8"></script>
        <script>
            userLocation = {
                lat: {{problem.lat}},
                lng: {{problem.lng}}
            };
            draggable = false;
        </script>
        <script type="text/javascript" src="/javascripts/map.js"></script>
        <script>
            map.setCenter(userLocation);
            map.setZoom(15);
        </script>