<div class="container body-content span=8 offset=2">
    <div class="wellD">
        <header>
            <h1>{{user.fullName}}</h1>
            <hr class="fadingLine">
        </header>
        <div class="row">
            <div class="col-sm-4">
                <img src="{{user.profpicture}}" alt="profile pic" class="imgurD"></img>
            </div>
            <div class="col-sm-7">
                <p style="font-size:1.6em;"><b>Email:</b> {{user.email}}<br>
                    <b>Full Name:</b> {{user.fullName}}<br>
                    <b>Current Role:</b> {{user.role}}</p>
            </div>
        </div>
    </div>
</div>